$RECYCLE.BIN/
*.bak
*.cab
*.class
*.ctxt
*.ear
*.iml
*.iws
*.jar
*.launch
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.pydevproject
*.rar
*.stackdump
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~
*~.nib
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache-main
.com.apple.timemachine.donotpresent
.cproject
.directory
.DocumentRevisions-V100
.DS_Store
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.idea/
.idea/replstate.xml
.idea_modules/
.loadpath
.LSOverride
.metadata
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.txt
.nfs*
.recommenders
.recommenders/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.Trash-*
.Trashes
.VolumeIcon.icns
.worksheet
/kotlin-extensions/kotlin-extensions-jvm/src/main/antlr4/com/github/squirrelgrip/extension/collection/DrainerLexer.tokens
[Dd]esktop.ini
atlassian-ide-plugin.xml
bin/
buildNumber.properties
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
ehthumbs.db
ehthumbs_vista.db
fabric.properties
hs_err_pid*
hs_err_pid*
Icon
local.properties
Network Trash Folder
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
stage/
target/
Temporary Items
Thumbs.db
Thumbs.db:encryptable
tmp/
travis/all.gpg
