[submodule "dependencies"]
	path = dependencies
	url = https://github.com/SquirrelGrip/dependencies.git
[submodule "kotlin-extensions"]
	path = kotlin-extensions
	url = git@github.com:SquirrelGrip/kotlin-extensions.git
